stages:
  - test
  - build
  - deploy

variables:
  NODE_VERSION: "20"

before_script:
  - node --version
  - npm --version

# Test stage
test:
  stage: test
  image: node:20-alpine
  script:
    - npm ci
    - npm run test
  cache:
      key: $CI_COMMIT_REF_SLUG
      paths:
        - node_modules/
  rules:
    - if: $CI_COMMIT_TAG

# Build Docker image
build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t scooteq-helpdesk-backend:$CI_COMMIT_SHA .
  rules:
    - if: $CI_COMMIT_TAG

deploy_production:
  stage: deploy
  image: alpine:latest
  script:
    - apk add --no-cache curl
    - curl -X POST $RENDER_DEPLOY_HOOK_URL
  environment:
    name: production
    url: https://scooteq-helpdesk-backend.onrender.com
  rules:
    - if: $CI_COMMIT_TAG
  when: manual

deploy_development:
  stage: deploy
  image: alpine:latest
  script:
    - apk add --no-cache curl
    - curl -X POST $RENDER_DEPLOY_HOOK_DEV_URL
  environment:
    name: development
    url: https://scooteq-helpdesk-backend-dev.onrender.com
  rules:
    - if: $CI_COMMIT_TAG
  when: manual
